.jsdoc-githubify html {
  overflow: auto;
  background-color: #fff;
}

.jsdoc-githubify body {
  font: 14px "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 130%;
  color: #000;
  background-color: #fff;
}

.jsdoc-githubify a {
  color: #444;
}

.jsdoc-githubify a:visited {
  color: #444;
}

.jsdoc-githubify a:active {
  color: #444;
}

.jsdoc-githubify header {
  display: block;
  padding: 6px 4px;
}

.jsdoc-githubify .class-description {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.jsdoc-githubify #main {
  float: left;
  width: 100%;
}

.jsdoc-githubify section {
  display: block;
  background-color: #191919;
  padding: 12px 24px;
  margin-right: 0px;
  margin-top: 0px;
}

.jsdoc-githubify .variation {
  display: none;
}

.jsdoc-githubify .optional:after {
  content: "opt";
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

.jsdoc-githubify nav {
  display: block;
  float: left;
  margin-left: -230px;
  margin-top: 28px;
  width: 220px;
  border-left: 1px solid #ccc;
  padding-left: 9px;
}

.jsdoc-githubify nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.jsdoc-githubify nav h2 a,
.jsdoc-githubify nav h2 a:visited {
  color: #A35A00;
  text-decoration: none;
}

.jsdoc-githubify nav h3 {
  margin-top: 12px;
}

.jsdoc-githubify nav li {
  margin-top: 6px;
}

.jsdoc-githubify nav a {
  color: #5C5954;
}

.jsdoc-githubify nav a:visited {
  color: #5C5954;
}

.jsdoc-githubify nav a:active {
  color: #5C5954;
}

.jsdoc-githubify footer {
  display: block;
  padding: 6px;
  margin-top: 12px;
  font-style: italic;
  font-size: 90%;
}

.jsdoc-githubify h1 {
  font-size: 200%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 6px 0 9px 0;
}

.jsdoc-githubify h2 {
  font-size: 170%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
}

.jsdoc-githubify h3 {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin-top: 16px;
  margin: 6px 0 3px 0;
}

.jsdoc-githubify h4 {
  font-size: 130%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin-top: 16px;
  margin: 18px 0 3px 0;
  color: #A35A00;
}

.jsdoc-githubify h5,
.jsdoc-githubify .container-overview .subsection-title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px -16px;
}

.jsdoc-githubify h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.jsdoc-githubify .ancestors {
  color: #999;
}

.jsdoc-githubify .ancestors a {
  color: #999 !important;
  text-decoration: none;
}

.jsdoc-githubify .important {
  font-weight: bold;
  color: #950B02;
}

.jsdoc-githubify .yes-def {
  text-indent: -1000px;
}

.jsdoc-githubify .type-signature {
  color: #aaa;
}

.jsdoc-githubify .name,
.jsdoc-githubify .signature {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.jsdoc-githubify .details {
  margin-top: 14px;
  border-left: 2px solid #DDD;
}

.jsdoc-githubify .details dt {
  width: 100px;
  float: left;
  padding-left: 10px;
  padding-top: 6px;
}

.jsdoc-githubify .details dd {
  margin-left: 50px;
}

.jsdoc-githubify .details ul {
  margin: 0;
}

.jsdoc-githubify .details ul {
  list-style-type: none;
}

.jsdoc-githubify .details li {
  margin-left: 30px;
  padding-top: 6px;
}

.jsdoc-githubify .details pre.prettyprint {
  margin: 0;
}

.jsdoc-githubify .details .object-value {
  padding-top: 0;
}

.jsdoc-githubify .description {
  margin-bottom: 1em;
  margin-left: -16px;
  margin-top: 1em;
}

.jsdoc-githubify .code-caption {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 107%;
  margin: 0;
}

.jsdoc-githubify .prettyprint {
  border: 1px solid #ddd;
  width: 80%;
  overflow: auto;
}

.jsdoc-githubify .prettyprint.source {
  width: inherit;
}

.jsdoc-githubify .prettyprint code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  font-size: 100%;
  line-height: 18px;
  display: block;
  padding: 4px 12px;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.jsdoc-githubify .prettyprint code span.line {
  display: inline-block;
}

.jsdoc-githubify .prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jsdoc-githubify .prettyprint.linenums ol {
  padding-left: 0;
}

.jsdoc-githubify .prettyprint.linenums li {
  border-left: 3px #ddd solid;
}

.jsdoc-githubify .prettyprint.linenums li.selected,
.jsdoc-githubify .prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

.jsdoc-githubify .prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.jsdoc-githubify .params,
.jsdoc-githubify .props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.jsdoc-githubify .params .name,
.jsdoc-githubify .props .name,
.jsdoc-githubify .name code {
  color: #A35A00;
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  font-size: 100%;
}

.jsdoc-githubify .params td,
.jsdoc-githubify .params th,
.jsdoc-githubify .props td,
.jsdoc-githubify .props th {
  border: 1px solid #ddd;
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

.jsdoc-githubify .params thead tr,
.jsdoc-githubify .props thead tr {
  background-color: #ddd;
  font-weight: bold;
}

.jsdoc-githubify .params .params thead tr,
.jsdoc-githubify .props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.jsdoc-githubify .params th,
.jsdoc-githubify .props th {
  border-right: 1px solid #aaa;
}

.jsdoc-githubify .params thead .last,
.jsdoc-githubify .props thead .last {
  border-right: 1px solid #ddd;
}

.jsdoc-githubify .disabled {
  color: #454545;
}
